
<% if (title === 'Home') { %>
  <header class="intro-header" style="background-image: url('images/home-bg.jpg')">
<% } else if (title === 'Contact') { %>
  <header class="intro-header" style="background-image: url('images/contact-bg.jpg')">
<% } else  if (title === 'About'){ %>
  <header class="intro-header" style="background-image: url('images/about-bg.jpg')">
<% } else { %>
  <header class="intro-header" style="background-image: url('images/post-bg.jpg')">
<% } %>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <% if (type === 'page') { %>
                <div class="site-heading">
                  <% if (title === 'Home') { %>
                    <h1>Clean Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                  <% } else if (title === 'Contact') { %>
                    <h1>Contact Me</h1>
                    <hr class="small">
                    <span class="subheading">Have questions? I have answers (maybe).</span>
                  <% } else  if (title === 'About'){ %>
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">This is what I do.</span>
                  <% } %>
                </div>
              <% } %>

                <% if (type === 'post') { %>
                  <div class="post-heading">
                    <h1><%= title %></h1>
                    <h2 class="subheading"><%= subtitle %></h2>
                    <span class="meta">Posted by <a href="/about"><%= author %></a>, <%= when %></span>
                  </div>
                <% } %>
            </div>
        </div>
    </div>
</header>
